*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}
body{
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
#hero{
    background: url("../img/bg1.jpg");
}
.hero div button{
    padding: 10px 30px;
}
#header{
    background: cornflowerblue;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav a{
    font-size: 16px;
    color: red;
    padding: 0 30px;
}